<div ng-include="'partials/navigation/navbar'"></div>

<div class="jumbotron">
  <h1>{{ 'HEADLINE' | translate }} <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    {{ 'SUBHEAD' | translate }}
  </p>
</div>

<div class="row marketing">
  <h4><a href="/ng-book/expressions">Expressions</a></h4>
  <p>How to work with all of those curly brackets.</p>
  <h4><a href="/ng-book/filters">Filters</a></h4>
  <p>How to use filters.</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
